  h2 {
    font-size: 50px;
  }

  .weather-icon {
    font-size: 50px;
  }

  .humidity {
    font-size: 50px;
  }

  body {
    font-family: "PT Sans", sans-serif;
    margin: 60px 300px 600px 30px;
    text-align: left;
    background: linear-gradient(
      109.6deg,
      rgb(17, 151, 147) 11.2%,
      rgb(154, 214, 212) 55.4%,
      rgb(255, 233, 171) 100.2%
    );
  }
  .weather-app {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
  }
  button {
    font-family: "PT Sans", sans-serif;
    color: black;
    font-size: 22px;
    display: inline-block;
    margin: 0 auto;
    padding: 12px;
    background-color: transparent;
    border: 0px solid #25161b;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
  }
  
  button:hover {
    background: #6d597a;
    color: white;
    cursor: pointer;
  }
  .col {
    background: radial-gradient(
      circle at 10% 20%,
      rgb(254, 255, 165) 0%,
      rgb(255, 232, 182) 90%
    );
    border-radius: 10px;
  }
  #day {
    font-size: 38px;
  }

  #city {
    font-size: 38px;
  }

  .units{
    font-size: 20px;
  }

  li {
    color: #352323;
    font-size: 18px;
    font-weight: 200;
    height: 19px;
    line-height: 1;
    list-style: none;
  }
  ul {
    padding-left: 0;
  }
  #current-location-button {
    background: #3e69d9;
  }
  .weather-app-wrapper{
    max-width: 1000px;
    margin: 100px auto;
  }
